<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Cover photos:</strong>
    <% book.cover_photos.each do |cover_photo| %>
      <div><%= image_tag cover_photo %></div>
    <% end %>
  </p>

  <p>
    <strong>Authors:</strong>
    <%= book.author.name %>
  </p>

</div>
